* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --slate-300: #d6e2f0;
    --slate-500: #68778d;
    --slate-900: #1f3251;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    background-color: var(--slate-300);
}

main {
    font-family: 'Outfit';
    width: 100%;
    max-width: 350px;
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.406);
}

img {
    width: 100%;
    border-radius: 20px;
}

.qrcode-title {
    font-size: 1.4rem;
    text-indent: 10px;
    text-align: center;
    padding: 20px;
    color: var(--slate-900);
}

.content {
    font-size: 1rem;
    text-indent: 10px;
    text-align: center;
    padding: 0 20px 20px 20px;
    color: var(--slate-500);
}

@media screen and (max-width: 350px) {
    body {
        padding-inline: 10px;
    }
}